---
layout: page
title: Welcome!
---
<style type="text/css">
  .column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>

<div class="row">
  <div class=“column”><img src="{{site.baseurl}}photo_Jerry_xing.jpg") alt="My photo" width="200"/></div>    
  <div class=“column”>
      <p>I'm Jerry Xing, who is a current MS computer science student in Washington university in St. Louis (WUSTL) and very busy with PhD applications as well as final exams. Now I'm working in <a href="cigroup.wustl.edu">Computational Imaging Group (CIG)</a> with Prof. Ulugbek Kamilov and other cool guys. </p>

      <p>Before attending WUSTL, I received an Electrical Engineering bachlor's degree in Beijing Normal University in 2017. My research interests mainly correspond to machine learning and signal processing, especially in vision and image applications. My current project in fast MRI that aims to shorten MRI scanning and reconstraction time with deep learning algorithms, and thus reduce the suffering of patients. More generally, I'm very interested in "signal and system": how the information is encoded in its representation as well as how we decode it, and how small and simple components of a system organize and show much more complex behaviours.</p>
  </div>
    
</div>
