---
layout: default
---

<style type="text/css">
  /* p.margin {margin: 0px 0px 0px 20px} */
  div.margin {margin: 0px 0px 0px 30px}
</style>

<div class="content">
  	{% for post in site.posts %}	
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
      <div class="margin" name="brief-content">
        <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small></p>
        <p>{{ post.content | truncatewords: 50 }}</p>
      </div>
    {% endfor %}
  <!-- {% include pagination-newer.html %}

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}

  {% include pagination-older.html %} -->
</div>
